<p style="color: green"><%= notice %></p>

<div style="text-align:center;">
  <h1>Accounts</h1>

  <div id="accounts">
    <% @accounts.each do |account| %>
      <div class="form-div">
        <%= render account %>
        <p>
          <%= link_to "Show this account", account %>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "Create a new account", new_account_path %>
</div>